# Básico de Python

El curso esta pensado para que todos los comando de python puedan ser ejecutados dentro de un notebook utilizando *Jupyter-lab*. Para iniciar una sesión dentro de *jupyter-lab* es necesario tenerlo instalado (se describe en [Instalación](faltalink)) y ejecutar `jupyter-lab` dentro del ambiente donde se realizo la instalación. 

## Cadenas de símbolos (*String*)
Como todo curso que involucra algún lenguaje de programación empezaremos con *Hello world*, es decir lo primero que deseamos es poder imprimir cosas. Para tal proposito Python tiene la función `print()` esta función nos permite imprimir dentro de la terminal lo que deseamos.

In [1]:
print('Hello world!!')

Hello world!!

Hemos impreso nuestra primera linea usando *Python*, se puede ver que la función print no imprime las comillas que pasa si las quitamos.

In [2]:
print(! Hola mundo !)

SyntaxError: invalid syntax (<ipython-input-2-83192f72243e>, line 1)

De aquí podemos hacer un par de observaciones, la función `print` acepta *strings* que son cadenas de símbolos. Para declarar que se empieza una cadena de símbolos se hace utilizando ' o bien " la próxima ' o " (respectivamente) determina el fin de la cadena.

In [8]:
print('!Hola mundo !')

!Hola mundo !

Podemos hacer varias cosas con un *string* como es "multiplicarlo"

In [6]:
print('Hola mundo '*2)

Hola mundo Hola mundo

In [9]:
print('Hola mundo '*4)

Hola mundo Hola mundo Hola mundo Hola mundo

"sumarlo" (juntarlo )

In [10]:
print('Hola mundo' + 'junto mal')

Hola mundojunto mal

In [11]:
print('Hola mundo' + ' ' + 'junto mal')

Hola mundo junto mal

Y otras operaciones, durante el curso veremos más operaciones que se puden hacer con las cadenas de símbolos.

## Variables

Dentro de los lenguajes de programación es necesario dar nombres a las cosas, en *pyhton* esta asignación se hace usando el símbolo de =.

In [13]:
a= 2
a

2

La linea anterior asigno el valor 2 a la variable `a`. Como estamos dentro de un notebook dentro de *jupyter-lab* al llamar a la variable `a` imprime lo que se encuentra dentro de la variable.

In [14]:
b= 5
a+b

7

In [15]:
a = 'Hola mundo'
b = 'Jupiter'
a+b

'Hola mundoJupiter'

In [19]:
a[0:5]+b

'Hola Jupiter'

A diferencia de otros lenguajes de programación como son *C++* o *Java*, en *Python* no es necesario declarar la variable ni determinar el tipo de variable. Usando la función `type` es posible ver que tipo de variable es.

In [20]:
a= 5
b= 'Hola'

In [21]:
type(a)

int

In [22]:
type(b)

str

Es importante observar que las operaciones son de tipo especifico. Por ejemplo el operando `+` aplicado a las variables de tipo *int* o *float* se aplica la función la suma, mi entras que el caso de variables *string* funciona como una unión de cadenas.

In [23]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Como  se observa, el operando `+` no esta definido para usarse con *int* y *str*(*string*).

Existen distintos tipos de variables como son:

| Tipo | Descripción |
|:-------|:-----------:|
| *int*| Para guardar enteros ($\mathbb{Z}$).|
| *float*| Números de doble presición (ejemplo $2.34$).| 
|  *bool*| Valores verdadero(`True`) o falso (`False`). |
| *str* | Cadenas de símbolos con codificación (UTF-8).|
| *bytes*| Código ASCII en bytes.|
| *None* | Valor de *Python* para nulo.|

## Listas


Las listas en python son especialmente utiles, para declarar una lista se utilizan `[ ]` y separando por `,` sus elementos.

In [30]:
mi_lista= [1, 2, 3,4]
mi_lista

[1, 2, 3, 4]

Se le pueden añadir elementos a las listas utilizando el método `append` detro de las lista, de la siguiente forma

In [31]:
mi_lista.append(5)
mi_lista

[1, 2, 3, 4, 5]

Tambien se pueden remover elementos de la lista usando el método `pop`

In [32]:
a = mi_lista.pop()
print(a)
mi_lista

5

[1, 2, 3, 4]

Como se observa el método `pop` remueve el último elemento en la lista y lo asigna a la variable `a`, no es necesario asignar el valor a una variable para remover el último elemento.

In [33]:
mi_lista.pop()
mi_lista

[1, 2, 3]

Para acceder a los elementos de una lista en python se hace a través de `[]`, python enumera los elementos de las listas a partir de 0 para el primer elemento y de forma asendente, también es posible acceder a los elementos usando enteros negativos.

In [34]:
mi_lista[0]

1

In [35]:
mi_lista[2]

3

In [36]:
mi_lista[-1]

3

Es posible cambiar el valor de los elementos

In [37]:
mi_lista[0]= 5
mi_lista

[5, 2, 3]

Pero para aumentar el tamaño de las listas es necesario usar el método `append` u otro.

In [38]:
mi_lista[3]= 5
mi_lista

IndexError: list assignment index out of range

Para remover un elemento especifico utilizamos el método `remove`, el cual elimina la primera aparición de elemento que se desea remover.

In [65]:
mi_lista = [1,2,3, 4,2]
mi_lista.remove(2)
mi_lista

[1, 3, 4, 2]

Es posible unir dos o más listas

In [46]:
mi_lista = [1,2,3, 4]
mi_lista_2= [3,4,5,6]
mi_lista+mi_lista_2

[1, 2, 3, 4, 3, 4, 5, 6]

In [47]:
mi_lista

[1, 2, 3, 4]

Los elementos de las listas pueden ser de distintos tipos

In [48]:
mi_lista = [1,2,4,'Hola', 2.34, str(4.56)]
mi_lista

[1, 2, 4, 'Hola', 2.34, '4.56']

En la lista generada en la linea anterior se hace notar la función *str()*, esta convierte a un *string* lo que se encuentre dentro, siempre y cuando la conversión sea posible. Como ejemplo se transforma el número flotante a un *string*. Este tipo de funciones también existen para *int* , *bool* o *float*.

In [49]:
int(2.75)

2

In [50]:
float(3)

3.0

In [51]:
float('3')

3.0

In [52]:
bool(1)

True

A partir de las listas podemos tomar algunas "rebanadas" de estas, para tal proposito en las listas utilizamos `:` para indicar los rangos que se desean, como se ve en los ejemplos a continuación

del elemento en la posición 2 al elemento en la posición 4

In [53]:
mi_lista= [1,2,3,4,5,6]
mi_lista[2:5]

[1, 2, 3, 4]

De la posición 0 a la posición antes que 4

In [61]:
mi_lista[:4]

[1, 2, 3, 4]

De la posición  3 hasta el último elemento

In [60]:
mi_lista[3:]

[4, 5, 6]

## Diccionarios 

Los diccionarios en *Python* nos ofrecen la posibilidad de hacer funciones entre conjuntos de forma directa, para la cunstrucción de los diccionarios usamos `{ }` y `:`para determinar la regla de relación entre los conjuntos. Veamos el siguiente ejemplo.

In [67]:
mi_dict= {'a': 'Hola', 'b': 'jupyter', 'c':'mundo'}

In [68]:
mi_dict['a']

'Hola'

In [69]:
mi_dict['b']

'jupyter'

In [72]:
print(mi_dict['a'], mi_dict['c'])

Hola mundo

In [73]:
mi_dict['d']

KeyError: 'd'

La función de los diccionarios es regresar los valores que se le asignan a cada elemento, a los elementos antes de `:` se les denomina *keys*(llave) y a los que se encuentran después se les denomina *values*(valor)

In [75]:
mi_dict.keys()

dict_keys(['a', 'b', 'c'])

In [77]:
mi_dict.values()

dict_values(['Hola', 'jupyter', 'mundo'])

Si se desea añadir una pareja llave-valor al diccionario esto se puede hacer directamente

In [78]:
mi_dict[3]= 'luna'

In [79]:
mi_dict[3]

'luna'

In [80]:
mi_dict

{'a': 'Hola', 'b': 'jupyter', 'c': 'mundo', 3: 'luna'}

Para eliminar una pareja llave-valor utilizamos el método `pop`

In [81]:
mi_dict.pop('b')
mi_dict

{'a': 'Hola', 'c': 'mundo', 3: 'luna'}

Si se desea añadir mas de un elemento al diccionario esto se puede hacer usando el método `update`

In [82]:
mi_dict.update({'e': 'marte', 3:'casa', 2:'Hola'})

In [83]:
mi_dict

{'a': 'Hola', 'c': 'mundo', 3: 'casa', 'e': 'marte', 2: 'Hola'}

Es importante recalcar que en los diccionarios puede haber llaves que tengan el mismo valor pero no llaves iguales

In [84]:
mi_dic_2= {'a': 'Hola', 'b': 'mundo', 'a': 'jupyter'}

In [85]:
mi_dic_2

{'a': 'jupyter', 'b': 'mundo'}

En este caso el diccionario se queda con el último valor que se le asigna al la llave.  

Aunque Python nos permite tener como llaves (*keys*) cualquier tipo de objeto es preferible utilizar elementos inmutables como lo son *int*, *float* o *strings*. Estos elementos se les llama inmutables por que no es posible cambiarlos

### Conjuntos

### Condicionales

### Estructuras de control
#### For
####  if else

## Range
## Funciones